@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import './normalize.scss';
@import './reset.scss';

html {
  min-height: 100%;
  display: flex;
  font-family: 'Open Sans', sans-serif;
}

body {
  flex: 1;
}
